/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right; /* note the padding around a right floated image */
}

.alignleft {
  float: left; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #121212;
     font-family: 'Open Sans', sans-serif;
     font-size: 24px;
     line-height: 1.4;
     background-color: #f0efef;
}
/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: 0 auto;
  height: 500px;
}

header {
  display: block;
  height: 100px;
  background-color: #033048;
  margin: 0 auto;
}
nav {
  font-size: 24px;
  font-weight: 600px;
  color: #f9e42e;
  display: inline-block;
  float: right;
  margin: 0 9%;
  padding: 30px 0;
  color: #f9e42e;
  background-color: none;
  text-decoration: none;
}
a {
  color: #f9e42e;
  text-decoration: none;
}
a:hover {
  color: #f9e42e;
  text-decoration: none;
}
nav a:hover {
  color: white;
  text-decoration: none;
}
.more:hover {
  color: #f9e42e;
}
li>a {
  color: #606161;
}
nav>a {
   padding: 0 3px;
}
section {
  display: block;
  width:700px;
  text-align: left;
  margin: 60px 9%;
}
aside {
  display: block;
  float: right;
  width: 240px;
  text-align: left;
  margin: 60px 9%;
}
aside .more {
  text-align: left;
  padding: 0;
}
footer {
  padding: 40px 0;
  display: block;
  background-color: #121212;
  text-align: center;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1 {
  font-weight: bolder;
  font-size: 38px;
  color: #fff;
  display: block;
  padding: 25px 10%;
  float: left;
}
h2 {
  color: #033048;
  font-weight: 700;
  font-size: 40px;
  display: block;
  width: 100%;
  text-align: left;
}
h3 {
  font-weight: 700;
  font-size: 30px;
  color: #f9e42e;
  display: block;
  width: 100%;
  margin: 30px auto;
  text-align: center;
}
h4 {
  font-size: 11px;
  font-weight: 500;
  color: #f0efef;
}
h5 {
  font-size: 32px;
  color: #033048;
  font-weight: 800;
  display: block;
  text-align: left;
  margin: 10px 0;
}
p {
  font-size: 24px;
  color: #606161;
  font-weight: 700;
  display: block;
}
section p.content:first-letter {
  float: left;
  font-size: 90px;
  line-height: 70px;
  padding-top: 20px;
  padding-right: 8px;
  padding-left: 3px;
}
aside p {
  font-size: 22px;
  font-weight: 400;
  display: block;
  line-height: 24px;
}
.more{
  font-size: 24px;
  color: #033048;
  font-weight: 700;
  display: block;
  text-align: right;
  padding: 40px 0 10px 0;
}
ul {
  font-size: 24px;
  color: #606161;
  font-weight: 400;
  display: block;
  text-align: left;
}
img.social {
  height: 25px;
  display: inline-block;
  margin: 0px 0px 40px 0px;
  padding: 0 15px;
}
img.blog {
  width: 100%;
  display: inline-block;
  margin: 20px 0;
}
.button-navy {
  color: #fff;
  font-weight: bolder;
  font-size: 20px;
  background-color: #033048; 
  border-radius: 5px;
  margin: 15px auto 15px auto;
  padding: 10px;
  width: 25%;
}
.button-navy>a {
  color: #fff;
}
.button-navy:hover {
  color: #033048;
  background-color: white; 
}
.yellowground {
  background-color: #f9e42e;
  padding: 5px 0px;
  display: block;
  width: 100%;
  margin: 0px auto;
  text-align: center;
}

